[tool.poetry]
name = "dbgear"
version = "0.30.0"
description = "Database management tools for initial data management"
authors = ["tamuto <tamuto@infodb.jp>"]
readme = "README.md"
homepage = "https://github.com/tamuto/dbgear"
repository = "https://github.com/tamuto/dbgear"

packages = [
    { include = "dbgear", from = "." }
]

[tool.poetry.scripts]
dbgear = "dbgear.main:execute"

[tool.poetry.dependencies]
python = "^3.12"
pyyaml = "^6.0"
sqlalchemy = "^2.0.38"
pymysql = "^1.1.1"
python-ulid = "^2.5.0"
cryptography = "^42.0.7"
pydantic = "^2.0.0"
jinja2 = "^3.1.6"
openpyxl = {version = "^3.1.5", optional = true}

[tool.poetry.extras]
xlsx = ["openpyxl"]

[tool.poetry.group.dev.dependencies]
taskipy = "^1.14.1"
flake8 = "^7.3.0"
usecases = {path = "../../etc/usecases"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.taskipy.tasks]
test = "poetry run python -m unittest discover tests/ -v"
test-fast = "poetry run python -m unittest discover tests/ -k 'not slow'"
lint = "poetry run flake8 dbgear/ tests/"
clean = "rm -rf dist/ build/ *.egg-info/"
cli = "poetry run dbgear"
